<!DOCTYPE html>
<html>
<head>
  <title>WebsocketRacer</title>
  <link rel="stylesheet" type="text/css" href="/css/normalize.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  <script type="text/javascript" src="/js/jquery-3.1.0.js"></script>
  <script type="text/javascript" src="/js/racer-model.js"></script>
  <script type="text/javascript" src="/js/application.js"></script>
</head>
<body>
  # WebSockets Racer app
  <div id="chat-log">

    <input type="text" id="message">
    <button id="disconnect">Disconnect</button>
  </div>
  <table id="racer_table">
    <tr id="player1_strip">
      <td></td>
      <td class="active"></td>
      <td></td>
      <td></td>
      <td></td>
    </tr>
    <tr id="player2_strip">
      <td></td>
      <td></td>
      <td></td>
      <td class="active"></td>
      <td></td>
    </tr>
  </table>

  <form id="login-form">
    <label>Name</label>
    <input type="text" name="username" id="player-name">
    <input type="submit" name="submit">
  </form>
</body>
</html>